<template name="chatroom">
  <div class="row">
	<div class="span12">
		<ul id="messages" class="media-list" style="overflow: scroll; height: 480px;">
	      {{#each messages}}
	      	{{#if isTwitterMessage}}
	      		{{> twitter_message}}
	      	{{else}}
                {{> user_message}}
	      	{{/if}}
	      {{/each}}
		</table>	
	</div>
  </div>
  <div class="row">
	{{> chat_box}}
  </div>	
</template>

<template name="chatroom_header">
  <div class="row">
	<div class="span12">
		<h1 class="span9">Free Thinking [IT] Chat</h1>
		{{loginButtons}}
	</div>
	</div>
</template>

<template name="chat_box">
	<div class="row">
	{{#if isGuest}}
		{{> guest_form}}
	{{else}}
		{{> registered_user_form}}
	{{/if}}
	</div>	
</template>

<template name="guest_form">
    <div class="row">
        <input class="span9 chat" disabled/>
        <button class="span3 send_message" disabled>&rArr; Send</button>
    </div>
</template>

<template name="registered_user_form">
    <div class="row">
        <input class="span9 chat"/>
        <button class="span3 send_message">&rArr; Send</button>
    </div>
</template>

<template name="user_message">
	<li class="media well well-sm">
  		<div class="media-body">
				<h4 class="media-heading">
					{{messageOwnerName user}}
				</h4>
				<p>{{renderInUserTime chat_ts}}</p>
			<p>{{chat}}</p>
            <button type="button" class="close remove">x</button>
        </div>
	</li>	
</template>

<template name="twitter_message">
	<li class="media well well-sm">
  		<a class="pull-left" target="_blank" href="http://twitter.com/{{user.services.twitter.screenName}}">
  			<img class="media-object" src="{{user.services.twitter.profile_image_url}}"/>
        </a>
        <div class="media-body">
                <h4 class="media-heading">
                    {{messageOwnerName user}}
                </h4>
                <p>{{renderInUserTime chat_ts}}</p>
            <p>{{chat}}</p>
            {{#if messageBelongsToUser user}}
                <button type="button" class="close remove">x</button>
            {{/if}}
        </div>
  	</li>
</template>